@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* zerando CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



/* FUNDO DA TELA */

html {
    width: 100vw;
    height: 100vh;
    font-size: 60%;
    color: white;
    font-family:'Anton', sans-serif;

}

body{
    background: linear-gradient(rgb(12,12,12,0.4), rgba(12,12,12,0.4)),url('../img/h1.jpg');
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

/* Menu - Header - NavBar */

header {
    width: 100%;
    height: 7vh;
    background-color: rgba(1, 1, 1, 0.1);
}

.menu-content{
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.7rem;
    color: white;
}

.Logo{
    font-size: 1.8;
    letter-spacing: 0.4rem;
    cursor: pointer;
}

.menu-content .list-itens {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu-content .list-itens a {
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    transform: 0.2ms ease-in;
    position: relative;
    
}

.menu-content .list-itens a:before {
    content: ' ' ;
    position: absolute;
    bottom:0;
    left:0;
    width: 0;
    height: 1px;
    background-color: rgba(251, 255, 0);
    transition: all 1.5s ease;
}
.menu-content .list-itens a:hover:before{
    width: 100%;
}

/* Centro conteudo principal */

main{
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* textos principais*/

.primary-text {
    width: 400px;
    font-size: 7rem;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: center;
    text-shadow: 2px 2px #050505;
}

.second-text {
    margin-bottom: 7rem;
    font-size: 3rem;
    color: rgb(255, 215, 0);
    text-transform: center;
    text-align: center;
    text-shadow: 4px 4px #050505;
    letter-spacing:0.1em;
}


.btns {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.btns button{
    font-size: 20px;
    padding: 15px;
    border:0;
    border-radius: 15px;
    color: white;
    font-family: 400;
    background: linear-gradient(to right, gold,rgb(243, 177, 34));
    cursor: pointer;
    text-shadow: 1px 1px #050505
}

button:hover{
    animation-name: botao;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    box-shadow: 0 0 50px 20px rgba(255,166,0,0.5);
    text-shadow: 1px 1px #050505
}

@keyframes botao{
    0%{
        transform:scale(1);
    }
    100%{
        transform:scale(1.1);
    }

}


