@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* zerando CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



/* FUNDO DA TELA */

html {
    width: 100vw;
    height: 100vh;
    font-size: 60%;
    color: white;
    font-family:'Anton', sans-serif;

}

body{

    
    
    background-image: url('../img/h1.jpg') ;
    background: linear-gradient(rgba(7, 7, 7, 0.8));
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

/* Menu - Header - NavBar */

header {
    width: 100%;
    height: 7vh;
    background-color: rgba(10, 10, 10, 0.2);
}

.menu-content{
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}

.Logo{
    font-size: 1.8;
    letter-spacing: 0.4rem;
    cursor: pointer;
}

.menu-content .list-itens {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu-content .list-itens a {
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    transform: 0.2ms ease-in;
    position: relative;
}

.menu-content .list-itens a:before {
    content: ' ' ;
    position: absolute;
    bottom:0;
    left:0;
    width: 0;
    height: 1px;
    background-color: rgba(251, 255, 0);
    transition: all 1.5s ease;
}
.menu-content .list-itens a:hover:before{
    width: 100%;
}

/* Centro conteudo principal */

main{
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* textos principais*/

.primary-text {
    width: 450px;
    font-size: 7rem;
    margin-bottom: 2rem;
    text-align: center;
}

.second-text {
    margin-bottom: 7rem;
    font-size: 5rem;
    color: rgb(165, 165, 165);
    text-transform: center;
    
}

.btns {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.btns button{
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

.btns button:hover{
    color: rgb(251, 251, 0);
}

.btns button:before {
content: ' ';
border-radius: 20px;
bottom: 0;
left: 0;
position: absolute;
width: 0;
height: 60px;
background-color: rgb(161, 161, 153);
z-index: -1;
transition: 1s;
}
    .btns button:hover:before {
        width: 100%;

    }